@model MediaHouse3.Models.UserProfile
@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditUser</h2>
@using (Html.BeginForm()) {
    
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    
    <table>
        <tr>
            @Html.LabelFor(m => m.firstName)
            @Html.TextBoxFor(m => m.firstName)
        </tr>
        <tr>
            @Html.LabelFor(m => m.lastName)
            @Html.TextBoxFor(m => m.lastName)
        </tr>
        <tr>
            @Html.LabelFor(m => m.email)
            @Html.TextBoxFor(m => m.email)
        </tr>
        <tr>
            @Html.LabelFor(m => m.profileDesc)
            @Html.TextBoxFor(m => m.profileDesc)
        </tr>
    
    </table>
    <input type="submit" value="Save Changes" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}