<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - MediaHouse</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("MediaHouse", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("All Articles", "Articles", "Home")</li>
                            <li>@Html.ActionLink("National", "GetNational", "Home")</li>
                            <li>@Html.ActionLink("Overseas", "GetOverseas", "Home")</li>    
                            <li>@Html.ActionLink("Sports", "GetSports", "Home")</li>     
                            <li>@Html.ActionLink("Opinion", "GetOpinion", "Home")</li>   
                            <li>@Html.ActionLink("Travel", "GetTravel", "Home")</li>  
                            <li>@Html.ActionLink("Odd", "GetOdd", "Home")</li>                            
                            @if (HttpContext.Current.User.Identity.IsAuthenticated) { 
                                <li>@Html.ActionLink("Create Article", "CreateArticle", "Home")</li>
                                <li>@Html.ActionLink("Users", "Users", "Home")</li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Luke Calleja - SWD6.2A - Enterprise Programming Assignment</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
